@import '~antd/dist/antd.css';

.App {
  display: flex;
  max-width: 1000px;
  height: 100%;
  margin: auto;
  .left, .right {
    flex: 1;
  } 
}

.left {
  display: flex;
  flex-direction: column;
  .input {
    height: 200px;
  }
  .guessed {
    flex: 1;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
